.obsidian/appearance.json
.obsidian/workspace.json
.obsidian/app.json
daily notes/

/.obsidian/plugins/obsidian-latex-suite/data.json
/.obsidian/themes/Pink Topaz/theme.css
/.obsidian/themes/Atom/theme.css
/.obsidian/themes/Golden Topaz/theme.css
/.obsidian/plugins/obsidian-style-settings/styles.css
/.obsidian/themes/Pink Topaz/manifest.json
/.obsidian/themes/Golden Topaz/manifest.json
/.obsidian/themes/Atom/manifest.json
/.obsidian/plugins/obsidian-style-settings/manifest.json
/.obsidian/plugins/obsidian-style-settings/main.js