/* @settings
name: Hintergrundfarbe
id: bg-color-section
settings:
  - id: bg-color
    title: Hintergrundfarbe
    type: variable-color
    format: hex
    default: '#1e1e1e'
*/

body {
  background-color: var(--bg-color);
}
